body {
background-color:#FFF7B0 ;    
border: 25mm;
border-color:#F6DE89 ;
}

.p {
  font-family: serif;  
}


.topnav {
  background-color: #F6DE89;
  border-radius: 5mm;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color:#EDCF63 ;
  border-radius: 3mm;
  color: black;
}


.topnav a.active {
  background-color: #EDCF63;
  border-radius: 3mm;
  color: black;
}

.h1 {
  font-family: serif;
}

.img {
  border-radius: 20mm;
border-width: 20mm;
}
.vl {
  border-left: 6px solid #F6DE89  ;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.projplaceimg {
width:30% ;
}