body {
background-color:#FFF7B0 ;    
border: 25mm;
border-color:#F6DE89 ;
}

.p {
  font-family: serif;  
}
.nav-rounded {
  background-color: #F6DE89;
  border-radius: 5mm 5mm 0mm 5mm;
  overflow: hidden;
}
.nav-rounded a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.nav-rounded a:hover {
  background-color:#EDCF63 ;
  border-radius: 3mm;
  color: black;
}


.nav-rounded a.active {
  background-color: #EDCF63;
  border-radius: 3mm;
  color: black;
}

.topnav {
  background-color: #F6DE89;
  border-radius: 5mm;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color:#EDCF63 ;
  border-radius: 3mm;
  color: black;
}


.topnav a.active {
  background-color: #EDCF63;
  border-radius: 3mm;
  color: black;
}


.h1 {
  font-family: serif;
}

.img {
  border-radius: 20mm;
border-width: 20mm;
}

.projplaceimg {
width:40% ;

}

.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #F6DE89;
  float:right;
  border-radius: 0mm 0mm 5mm 5mm;
  height:1000vh;
}

.sidenav a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}


.sidenav a:hover {
  background-color: #EDCF63;
  color: black;
  border-radius: 3mm;
}

.indeximg {
  width: 40%;
}

.turnaround{
  width:40%;
  float:right;
  border-radius: 10mm;
  border-width: 50px;
  border-color: #F6DE89;
}

.rounded-edges{
  border-radius: 3mm;
  
}
