.body {
background-color:#FFF7B0 ;    
border: 25mm;
border-color:#F6DE89 ;
}

.p {
  font-family: serif;  
}


.topnav {
  background-color: #F6DE89;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #EDCF63;
  border-radius: 3mm;
  background-size: 10mm, 15mm;
  color: white;
}
